version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: alpharush_mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: yunus05/alpharush_backend:v4
    container_name: alpharush_backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    image: yunus05/alpharush_frontend:v4
    container_name: alpharush_frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
